<ion-header> 
    <ion-navbar color="custom-green">
        <ion-title>Nuovo Annuncio</ion-title>
      </ion-navbar>
      

   <!-- <ion-toolbar color="custom-green">  
      <ion-buttons left>
          <button ion-button icon-only (click)="cancel()" style="margin-left: 12px;"> 
            <ion-icon name="arrow-back"></ion-icon>
          </button> 
        </ion-buttons> 
    <ion-title>Nuovo Annuncio</ion-title> 
  </ion-toolbar>  -->

</ion-header>
<ion-content>
   <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">


   <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder">
        <ion-icon name="add"></ion-icon>
        <div>
           Carica un'immagine 1
        </div> 
      </div>
   
    </div> 


  <!-- <div (click)="addAddress()">Aggiungi</div> -->
   
  <div formArrayName="Images">

		<div *ngFor="let address of form.controls.Images.controls; let i=index">
          <!-- address header, show remove button when more than one address available -->
          <div>
              <span>Immagini {{i + 1}}</span>
              <span *ngIf="form.controls.Images.controls.length > 1" (click)="removeAddress(i)">
              </span>
          </div>
   
          <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
          <div [formGroupName]="i">
              <div>
                  <label>image</label> 
                  <input type="text" formControlName="imageData">
                  
                  <div class="profile-image" [style.background-image]="'url('+ form.controls.Images.controls[i].controls.imageData.value +')'" ></div> 
              </div>
			</div>
    </div>
    
	</div>


    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Titolo" formControlName="Title"></ion-input>
      </ion-item>
	  
      <ion-item>
        <ion-input type="text" placeholder="Descrizione" formControlName="Description"></ion-input>
      </ion-item>
    </ion-list>
	
  </form>
   <button ion-button (click)="done()" strong class="button-block" color="custom-green">
        <span color="primary">
          Crea
        </span>
    </button> 
</ion-content>