search-city{

    .searchbar-md .searchbar-input{
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow:none; 
    }

   .searchbar-search-icon{
        display: none;
    }
    
    .searchbar-md .searchbar-input {
        padding:0px;
    }
}